* {
  color: black;
  margin: 0 !important;

}

.App {
  margin-top: 18px;
}

.movie-container {
  /* background-color: brown; */
  /* width: 390px; */
}

.movie-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0; */
}

.movie-poster {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.movie-title {
  margin: 0%;
  /* font-style: oblique; */
}

.movie-rating {
  font-size: 18px;

}

.movie-summary {
  margin-top: 0;
}

.movie-data {
  /* display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly; */

  display: grid;
  /* RAM Technique👇 */
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 16px;
  padding: 16px;

}

/* .toggle-btn {
  align-items: center !important;
  margin-top: 5px !important;
} */
h4{
  color: antiquewhite;
  letter-spacing: 2px;
  /* padding-right: 10px; */
}
.add-movie {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 720px;
  margin: 0 auto !important;
  margin-top: 2rem !important;
}

/* #standard-basic {
  color: rgb(0, 0, 0);
/* } */
*/ .error-page {
  height: 85vh;
  /* width: 100vh; */
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.trailer-title {
  max-width: 990px;
  margin-top: 15px !important;
}

#standard-basic {
  color: rgb(49, 109, 221) !important;
}

.back-btn {
  margin-top: 15px !important;
}

.info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home-container img{
  max-width: 100%;
  height: auto;
  position: static;
}
.home-container h1{
  position: absolute;
  color: white;
  /* padding-left: 46rem; */
  left: 38%;

}